.banner {
       position: absolute;
       top: 0;
       left: 0;
       background-color: #57E5FF;
       width: 100vw;
       box-shadow: 0vw 1vw 0.5vw #2C737F;
}

.banner-content {
       width: 98vw;
       margin: 0 auto;
       padding: 1vw;
       font-family: Helvetica, sans-serif;
       color: white;
       font-size: 2.8vw;
}

.banner-content img {
       height: 6vw;
       width: 6vw;
       margin: 0 auto;
       float: left;
       padding-left: 1vw;
       padding-right: 1vw;
       padding-bottom: 1vw;
}

#emoji-dashboard {
      z-index: -1;
      position: absolute;
      top: 8vw;
      left: 0;
      width: 100vw;
      background-color: #46B8CC;
      height: calc(100vh - 8vw);
}
