.banner {
       position: absolute;
       top: 0;
       left: 0;
       background-color: #57E5FF;
       width: 100vw;
}

.banner-content {
       width: 80vw;
       margin: 0 auto;
       padding: 1vw;
}

.banner-content img {
       height: 5vw;
       width: 5vw;
       margin: 0 auto;
       padding: 1vw;
}
